.main {
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  &__content {
    display: grid;
    gap: 1rem 30px;
  }
  @media screen and (min-width: 992px) {
    background-color: var(--VeryDarkBlue);
    background-image: url(../images/bg-desktop.png);
    background-position: 0 100%;
    background-size: 100% 50%;
    &__content {
      grid-template-columns: 350px 1fr;
      align-items: flex-end;
    }
  }
}
