.storage {
  background-color: var(--DarkBlue);
  padding: 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  &__title {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--GrayishBlue);
    span {
      color: var(--PaleBlue);
      font-weight: 700;
      &::after {
        content: " GB";
      }
    }
  }
  &__slider {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background-color: var(--VeryDarkBlue); /* Otherwise white in Chrome */
    width: 100%; /* Specific width is required for Firefox. */
    height: 20px;
    box-sizing: border-box;
    border: 3px solid var(--VeryDarkBlue);
    border-radius: 10px;
    background-image: linear-gradient(
      to right,
      var(--Gradient1),
      var(--Gradient2)
    );
    background-repeat: no-repeat;
    background-size: calc((var(--value) * 1%) + (var(--offset) * 1px));
    &::-webkit-slider-thumb {
      z-index: 1;
      -webkit-appearance: none;
      height: 14px;
      width: 14px;
      border: 2px solid var(--Gradient2);
      border-radius: 50%;
      background-color: white;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
      transition: filter 0.4s;
      &:hover {
        filter: brightness(1.125);
      }
      &:active {
        filter: brightness(0.875);
      }
    }
    /* All the same stuff for Firefox */
    &::-moz-range-thumb {
      z-index: 1;
      height: 14px;
      width: 14px;
      border: 2px solid var(--Gradient2);
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      transition: filter 0.4s;
      &:hover {
        filter: brightness(1.125);
      }
      &:active {
        filter: brightness(0.875);
      }
    }
    /* All the same stuff for IE */
    &::-ms-thumb {
      z-index: 1;
      height: 14px;
      width: 14px;
      border: 2px solid var(--Gradient2);
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      transition: filter 0.4s;
      &:hover {
        filter: brightness(1.125);
      }
      &:active {
        filter: brightness(0.875);
      }
    }
    &:focus {
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }
    &::-ms-track {
      width: 100%;
      cursor: pointer;
      /* Hides the slider so custom styles can be added */
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
  }
  &__quantity {
    color: var(--PaleBlue);
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  }
  &__GBleft {
    align-self: center;
    display: flex;
    align-items: center;
    background-color: white;
    color: var(--GrayishBlue);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: -74px;
    span:first-child {
      font-size: 2rem;
      color: var(--VeryDarkBlue);
      margin-right: 0.5rem;
    }
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 0;
    position: relative;
    &__title {
      margin-top: 0;
      text-align: left;
      font-size: 15px;
    }
    &__quantity {
      margin-bottom: 0;
    }
    &__GBleft {
      position: absolute;
      right: 40px;
      top: -56px;
      margin: 0;
      border-bottom-right-radius: 0px;
      &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 99%;
        border-right: 22px solid white;
        border-left: 22px solid transparent;
        border-bottom: 22px solid transparent;
      }
    }
  }
}
